server:
  llama_server_path: "/home/opus-indonesia/llama.cpp/build/bin/"
  host: "127.0.0.1"

models:
  Qwen3-Embedding:
    model_path: "~/llama-router/models/Qwen3-Embedding/Qwen3-Embedding-0.6B-f16.gguf"
    port: 8081
    config: ["--no-webui", "--embeddings"]

  Gemma3:
    model_path: "~/llama-router/models/gemma3-4b-gguf/gemma-3-4b-it-Q4_1.gguf"
    port: 8080
    config: ["--no-webui", "--ctx-size", "2048"]